# Experiment - 2.3
- Build a classification model by using different machine learning algorithms.

## Installing Libraries

In [1]:
import pycaret
print(pycaret.__version__)

3.4.0

## Ingesting the Required Dataset

In [4]:
from pycaret.datasets import get_data
diabetesDataSet = get_data('diabetes')    # Loads the "diabetes" dataset, which is a binary classification problem
                                          # The target column, "Class variable," has two classes (binary values)

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
diabetesDataSet.describe()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

## Setup Classification Environment

In [8]:
from pycaret.classification import *  
# To perform classification using Pycaret

In [12]:
s = setup(data=diabetesDataSet, target='Class variable')
# Initializes the PyCaret classification environment
# Specifies the dataset and the target column to be used for training

## Building and Comparing Models

In [13]:
best_model = compare_models()

## Data Normalization

In [19]:
# Commonly used techniques: clipping, log scaling, z - score, minmax, maxabs, robust
model_setup = setup(data=diabetesDataSet, target='Class variable', normalize='True', normalize_method='zscore')
best_model = compare_models()

## Outlier Removal

In [22]:
## outliers_threshold = 0.05 is the default value.
model_setup= setup(data =diabetesDataSet, target ='Class variable', remove_outliers=True, outliers_threshold=0.05)