# Task
## Perform the following steps:
- Load ANY dataset from pycaret library.
- Train the model using different algorithms, and compare the metrics.
- Apply Normalization and Outlier Removal and report the performance change.

## Importing Pycaret

In [1]:
import pycaret

## Ingesting the DataSet

In [5]:
from pycaret.datasets import get_data
titanicDataSet = get_data('titanic')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
titanicDataSet.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## Setting Up the Classification Environment

In [8]:
from pycaret.classification import *
s = setup(data =titanicDataSet, target ='Survived')

## Building and Comparing Models

In [11]:
best_model = compare_models()

## Applying Normalization and Outlier Removal

### Normalization

In [16]:
setup_model = setup(data = titanicDataSet, target = 'Survived', normalize = 'True', normalize_method = 'zscore')
best_model = compare_models()

### Outlier Removal

In [19]:
## outliers_threshold = 0.05 is the default value.
model_setup = setup(data = titanicDataSet, target = 'Survived', remove_outliers= True, outliers_threshold= 0.05)
best_model = compare_models()

### Applying both Normalization and Outlier Removal

In [22]:
model_setup = setup(data = titanicDataSet, target= 'Survived', normalize = True, normalize_method= 'zscore',
                           remove_outliers= True, outliers_threshold= 0.05)
best_model = compare_models()